.container {
  width: 100vw;
  max-width:350px;
  background: var(--primary-background);
  height: 100dvh;
  position: fixed;
  top: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.shadow {
  display: block;
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100dvh;
  z-index: -99;
  background: rgba(0, 0, 0, 0.605);
  transition: 0.5s ease-in-out;
}

.close {
  color: var(--primary-color);
  font-size: 30px;
  cursor: pointer;
}

.show_shadow {
  opacity: 1;
  z-index: 99;
}

.hide_shadow {
  opacity: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:15px;
  width: 100%;
border-bottom:1px solid #232323;
}

.header h2{
    color: var(--primary-color);
    font-weight: 300;
}

.template{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:calc(100% - 50px);
}

.template svg{
  color: var(--primary-color);
  font-size: 100px;
}

.template p{
  color: var(--primary-color);
  margin-top: 10px;
}


.show {
  right: 0;
}

.hide {
  right: -1000%;
}

.product_container{
    width: 100%;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    padding: 10px 15px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 10px;
}

.product_container::-webkit-scrollbar-thumb{
    background: rgb(68, 68, 68);
    border-radius: 30px;
}


.product_container::-webkit-scrollbar{
    background: #212121;
    width: 8px;
}

.summary_container{
    width: 100%;
    padding:15px 15px 10px 15px;
    border-top:1px solid #232323;
}

/* .summary_container button{
appearance: none;
border: none;
padding: 15px;
color: var(--primary-color);
width: 100%;
font-size: 0.8rem;
cursor: pointer;
border-radius: 10px;
} */

.summary_container p{
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.btn_two{
background: #313131;
margin-top: 7px;
}

.btn_one{
background: var(--secondary-background);
}

.summary_container label{
  display: flex;
  align-items:center;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-size: 0.7rem;
  color: #bebebe;
}
.summary_container label input{
cursor: pointer;
height: 15px;
width: 15px;
margin-right: 7px;
background-color:var(--secondary-background);
}



@media (max-width: 390px) {
  .options_container a li {
    font-size: 1.1rem;
  }
}
