.dailycount{
    background-size: contain;
    background-repeat: no-repeat;
    width: max-content;
    width: 100%;
    position: relative;
}


.dailycount img{
    width: 100%;
    margin-top:10px;
    border-radius: 10px;
}

.time{
    color: var(--secondary-background);
    position: absolute;
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

.time span{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.time span p{
font-size: 20px;
text-align:center;
justify-content: center;
margin:0px 10px;
font-weight: 300;
}

