

.container{
    position:relative;
    width: 100vw;
    height:100vh;
    background: var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}