.container {
  position: relative;
  width: 100%;
  /* padding-top: 50px; */
  background: var(--primary-background);
  overflow: hidden;
}

.hero_section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 1000px;
}

.texture {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: -4%;
  /* transform: rotate(46deg); */
  background: var(--secondary-background);
  z-index: 0;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.btn_container button {
  /* appearance: none;
  border: none; */
  /* background: none; */
  /* padding: 12px 30px;
  font-size: 1rem;
  color: var(--primary-color);
  border-radius: 5px; */
}

.one {
  background: #3a3a3a;
  margin: 10px;
  cursor: pointer;
}


.text_container {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  z-index: 1;
  padding-top: 40px;
}

/* .text_container p{
    color: var(--secondary-color);
    font-size: 0.8rem;
    font-family: var(--reddit-mono);
   position: relative;
   top:-29px;
   margin-left: 5px;
} */

.text_container h2 {
  font-size: 7rem;
  line-height: 7rem;
  color: var(--primary-color);
  /* font-family: Helvetica, Arial, sans-serif; */
}

.text_container h2 p {
  font-size: 7rem;
}
/* 
.text_container h2  span{
    color: black !important;
} */

.img_container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 55%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background: var(--secondary-background);
}

.img_container img {
  min-width: 100%;
  /* max-width:500px; */
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(30px 0px 5px #a00300);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 90%;
  width: 100%;
  animation: imageSlide 18s ease-in-out infinite;
}


.container h2{
  color: var(--primary-color);
  font-size: 1.6rem;
  /* font-family: Helvetica, Arial, sans-serif; */
  font-weight:300;
}

.under_line{
  position: relative;
  font-weight:bolder;
}


.under_line::before{
  content:"";
  padding:2px;
  border-radius: 10px;
  background:var(--secondary-background);
  position: absolute;
  bottom: -2%;
  right: 0%;
  width: 40%;
}

/* .cutter{
  background: var(--secondary-background);
  width:500px;
  height:400px;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.cutter::before{
  background: var(--primary-background);
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
right:50%;
  top:50%;
transform: rotate(45deg);
} */

@keyframes imageSlide {
    0% {
      transform: translateX(0%);
    }
    14.28% {
      transform: translateX(0%);
    }
    16.67% {
      transform: translateX(-100%);
    }
    30.95% {
      transform: translateX(-100%);
    }
    33.33% {
      transform: translateX(-200%);
    }
    47.61% {
      transform: translateX(-200%);
    }
    50% {
      transform: translateX(-300%);
    }
    64.28% {
      transform: translateX(-300%);
    }
    66.67% {
      transform: translateX(-400%);
    }
    80.95% {
      transform: translateX(-400%);
    }
    83.33% {
      transform: translateX(-500%);
    }
    97.61% {
      transform: translateX(-500%);
    }
    100% {
      transform: translateX(-600%);
    }
  }
  

  @media (max-width:820px) {
    .btn_container{
      display: none;
    }
    .container{
      padding-top:70px;
    }
    .hero_section{
      flex-direction:column-reverse;
      position: relative;
      height: calc(100vh - 70px);
    }
    .img_container{
      width:100%;
      height: 100%;
      margin-top: 100px;
      padding: 0px;
      /* background: var(--primary-background); */
      background:none;
      position: relative;
      z-index: 1;
    }
    .text_container{
      width: 100%;
      height: 100%;
    position: absolute;
    justify-content: space-between;
    padding-top: 0px;
    padding: 0px 20px;
    /* display: none; */
    }
    .img_container img{
      filter:none
    }
    .text_container h2 p {
      font-size: 3.5rem;
    }
    .text_container h2{
      line-height: 4rem;
    }
    .custom{
      font-size: 4.8rem !important;
    }
    /* .text_container h2 p div{
      height: 40px !important;
    } */
  }

  @media (max-width:499px) {
    .custom{
      font-size: 3.5rem !important;
    }
  }