@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
 --primary-background:#000000;
 /* --secondary-background:#aa00ee; */
 --secondary-background:#c40000;
 --light-dark-background:#848484;
--mid-dark-background:#313131;
 --primary-color:#f1f1f1;
 --secondary-color:#cbcbcb;
 --box-bg-color:rgb(27,27,27);
 --reddit-mono: "Reddit Mono", monospace;
 --rubik-font: "Rubik Scribble", system-ui;
 font-size: 21px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0 );
  }
  
  input,
  textarea,
  button,
  select,
  a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0 );
  }
  
  a:focus,
  a:visited,
  a:active{
    outline: none;
  }
   
body{
    overflow-x: hidden;
    position: relative;
    background: var(--primary-background);
    font-family: "Roboto", sans-serif;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.app{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    background: var(--primary-background);
}
.app_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1700px;
    flex-direction: column;
}

.add-padding-container{
    padding: 0px 40px;
    width: 100%;
}


.add-padding-container section{
    width: 100%;
    padding: 20px 0px;
}

@media (max-width:820px) {
    .add-padding-container{
        padding: 0px 30px;
    }
}

@media (max-width:650px) {
    :root{
        font-size: 18px;
    }
    .add-padding-container{
        padding: 0px 20px;
    }
}

@media (max-width:530px) {
    :root{
        font-size: 16px;
    }
    .add-padding-container{
        padding: 0px 10px;
    }
}

@media (max-width:340px) {
    :root{
        font-size: 14px;
    }
}

@media (max-width:260px) {
  :root{
    font-size: 12px;
  }  
}