.container {
  position: relative;
  width: 100%;
  background: var(--primary-background);
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  padding: 10px 0px;
}

.container section {
  width: 100%;
  padding: 20px 0px;
}

.container h2 {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: normal;
}

.under_line {
  position: relative;
  font-weight: bolder;
}

.under_line::before {
  content: "";
  padding: 2px;
  border-radius: 10px;
  background: var(--secondary-background);
  position: absolute;
  bottom: -2%;
  right: 0%;
  width: 40%;
}
