.vid_container {
    max-width: 320px;
    max-height: 320px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }

  
  
  .vid_container div{
    max-height: 320px !important;
    max-width: 320px !important;
  }
  
  .vid_box {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .vid_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* .vid_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
   */
  .vid_box p {
    text-align: center;
    font-size: 1rem;
    color: var(--primary-color);
    margin-top: 15px;
  }
  
  .product_container {
    min-width: 350px;
    background:var( --box-bg-color);
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 12px 2px var(--primary-background);
    cursor: pointer;
    scale: 1;
    transition: 0.5s ease-in-out;
    text-decoration: none;
  }
  
  .product_img {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  
  .product_container:hover {
    scale: 1.1;
    z-index: 7;
    transition-delay: 0.5s;
  }
  
  .product_container:first-child:hover {
    transform: translateX(20px);
  }
  
  .product_container:first-child {
    z-index: 6;
  }
  
  .product_container:last-child {
    z-index: 6;
  }
  
  .product_container:last-child:hover {
    transform: translateX(-20px);
  }
  
  .product_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .details {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 15px;
    flex-direction: column;
  }
  
  .details p {
    color: var(--primary-color);
    font-size:1rem;
    font-weight:500;
  }
  
  /* .pricing span{
      font-size: 0.8rem;
  } */
  
  .pricing {
    margin: 7px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .seprator {
    /* margin-top: 5px; */
    width: 100%;
    display: flex;
    align-items:end;
    justify-content: space-between;
  }
  
  /* .seprator button {
    appearance: none;
    border: none;
    background: var(--secondary-background);
    font-size: 0.8rem;
    color: white;
    border-radius: 5px;
    padding: 12px 15px;
    cursor: pointer;
  }
   */
  
  
  
  .price {
    font-weight:500;
    margin-right: 4px;
    color: var(--primary-color);
    font-size: 0.9rem;
  }

    
 
  /* 
  .discount{
      margin-left: 4px;
      font-weight: bold;
      font-size: 0.7rem;
      position: absolute;
      top: 0%;
      right: 0%;
      color: var(--primary-color);
      padding: 11px;
      border-bottom-left-radius: 14px;
      backdrop-filter: blur(20px);
      text-align: center;
      background: #6a6a6a5e;
      box-shadow: 0px 0px 6px 2px var(--primary-background);
  }
   */
  
  .discount {
    color: #1ba200;
    font-size: 0.6rem;
    font-weight: bold;
    margin-left: 4px;
  }
  
  .tag {
    font-size: 0.5rem;
    position: absolute;
    top: 3%;
    left: 0%;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:var(--primary-color);
    background:var(--primary-background);
    text-align: center;
    font-weight: 400;
  }
  
  .before_discount {
    color:var(--light-dark-background);
    text-decoration: line-through;
    font-size: 0.7rem;
    font-weight: bold;
   position: relative;
    top: -2px !important;
    margin-left: 6px;
  }
  
  .special {
    width: 57%;
    text-align: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    padding: 4px;
    font-weight: bolder;
    color: var(--primary-color);
    border-top-left-radius: 85px;
    font-size: 0.7rem;
    background: var(--secondary-background);
    border-top-right-radius: 85px;
    bottom: 0%;
  }
  
  .discountp {
    color: rgb(1, 195, 1);
    font-size:0.7rem;
    font-weight: 900;
    margin-left: 6px;
    position: relative;
    top: -2px;
  }
  
  .deals_counter{
    width: 100%;
    overflow: hidden;
   position: relative;
  }
  
  .product_review {
    font-weight: bolder;
    font-size: 8px;
    color:var(--primary-color);
    background: var(--primary-background);
    display:inline-flex;
    border-radius: 5px;
    padding: 1px 6px;
    margin-top: 7px;
  }
  
  .product_review p{
    font-size: 0.6rem;
  }
  
  .product_review span{
    color: rgb(53, 53, 53);
    margin: 0px 7px;
   font-size: 25px;
  }
  
  
  
  .deals_counter p{
    font-size: 1rem;
      font-weight: 400;
      color: var(--secondary-background);
      display: flex;
      align-items: center;
      position: absolute;
      right: 15%;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
  }
  
  .deals_counter p span{
    font-size: 2rem;
  margin: 0px 5px;
  }
  
  .deals_counter img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 5px;
  }
  
  
  @media (max-width:1100px) {
    .product_container{
      min-width: 320px;
    }
    .product_img{
      height: 320px;
    }
  }
  
  @media (max-width:650px) {
    .product_slider_box_btn{
      position: absolute;
      bottom:42%;
      right: 3%;
      backdrop-filter: blur(30px);
      background:rgb(0, 0, 0) !important;
    }
    .product_slider_box_btn svg{
      font-size: 23px !important;
    }
    .product_review{
      margin-top: 0px;
      margin: 7px 0px;
    }
    .product_container{
      min-width:280px;
    }
    .product_img{
      height:280px;
    }
    .seprator{
      align-items: start;
      flex-direction: column;
    }
    /* .seprator button{
      width: 100%;
    } */
    .special{
      width: 80%;
    }
    .pricing{
      margin: 7px 0px;
    }
    .details{
      padding: 10px;
    }
  }
  
  @media (max-width:650px) {
    .product_container{
      min-width:200px;
      margin-right: 10px;
    }
    .product_img{
      height:180px;
    }
    .vid_box{
      margin-right: 10px;
    }
    
  }
  
  @media (max-width:499px) {
    .btn{
      display: none;
    }
  }